/*no default margin or padding*/
* {
	margin: 0;
	padding: 0;
	font-family: Roboto slab;
}

button:focus {
	outline: 0;
}

.date-div, 
.word-div {
	margin-top: 5%;
}

#date,
.word-h1,
.date-div h1,
.word-div h1 {
	text-align: center;
}

#date,
.date-div h1 {
	font-size: 3em;
}

.word-div h1 {
	font-size: 4em;
}

.word-h1 {
	font-size: 5em;
}

.word-helper-button-div {
	width: 30%;
    margin: 0 auto;
    margin-top: 2.5%;
}

.english-translation-button,
.romanization-button {
	height: 40px;
    width: 125px;
    border-radius: 5px;
    background-color: #DADADA;
    font-size: 1em;
    font-weight: bolder;
}

.english-translation-button:hover,
.romanization-button:hover {
	cursor: pointer;
}

.romanization-button {
	float: right;
}



















