/*no default margin or padding*/
* {
	margin: 0;
	padding: 0;
	font-family: Roboto slab;
}

.date-div, 
.word-div {
	margin-top: 5%;
}

#date,
.word-h1,
.date-div h1,
.word-div h1,
.word-romanization-h1 {
	text-align: center;
}

#date,
.date-div h1 {
	font-size: 3em;
}

.word-div h1,
.word-romanization-h1 {
	font-size: 4em;
}

.word-h1 {
	font-size: 5em;
}

.word-h1:hover,
.word-romanization-h1 {
	cursor: pointer;
}	